<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" [routerLink]="['']"><img src="http://www.moreshet-auctions.com/content/images/thumbs/0043316_-1924-.jpeg"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-collapse">
        <li><a [routerLink]="['Note']">Note</a></li>
        <li><a [routerLink]="['year-calendar']">year-calendar</a></li>
      </ul>
    </div>
  </div>
  </nav>